<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <md-sidenav
              class="md-sidenav-left"
              md-component-id="left"
              md-is-locked-open="$mdMedia('gt-md')"
              md-whiteframe="4">

            <md-toolbar class="md-theme-green">
              <h1 class="md-toolbar-tools">Quick Jump</h1>
            </md-toolbar>
            <md-content layout-padding>
              <md-select ng-model="ctrl.location" ng-change="ctrl.switchLocations()">
                <md-option ng-value="location" ng-repeat="location in ctrl.locations">{{location.description}}</md-option>
              </md-select>
              <md-select ng-model="ctrl.floor" ng-change="ctrl.switchFloors()" ng-if="ctrl.showFloors()">
                <md-option ng-value="floor" ng-repeat="floor in ctrl.floors">Floor {{floor}}</md-option>
              </md-select>
            </md-content>

          </md-sidenav>
    </div>
    <div class="col-sm-9">
      <div id ="outer">
        <div id ="inner" class="container-fluid">
            <div id="pano" style= "height: 650px; width: 100%; text-align: center;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
