<!--HEADER-->
<div id="top-nav" class="navbar navbar-inverse navbar-fixed-top anchor">

  <div class="container-fluid">
    <div class="navbar-header" layout="row" layout-align="start center">
      <div id="navMenu">
        <md-button class="md-icon-button md-primary" ng-click="ctrl.openMenu()" ng-hide="!ctrl.showMenu()" aria-label="menubutton">
          <md-icon md-svg-src="../../images/hamburger-menu.svg"></md-icon>
        </md-button>
      </div>
      <!--<img src="http://www.marshall.edu/bootstrap/img/mu_header_logo.png" alt="logo" ng-click="ctrl.goToDashboard()">-->
     <button style="position: absolute; right: 10px; background-color: rgb(76,175,80); color: white; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); border-radius: 3px;" ng-click="ctrl.showHint()">?</button>
      <md-button class="md-primary" ng-click="ctrl.goToDashboard()" aria-label="homebutton">
        <img src="http://www.marshall.edu/bootstrap/img/mu_header_logo.png" alt="logo">
      </md-button>
    </div>
  </div>

</div>
<!--EndHeader-->

<!--TODO: remove this and make the content appear below the navbar with css-->


<div class="container-fluid" style="padding-top: 65px;">
  <ui-view />
</div>
