<div class="container-fluid">
  <div layout="column">
    <div layout="row" layout-align="space-around center">
      <md-input-container>
        <md-select ng-model="ctrl.location" ng-change="ctrl.switchLocations()" aria-label="piclocation">
          <md-option ng-value="location" ng-repeat="location in ctrl.locations">{{location.description}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <md-select ng-model="ctrl.floor" ng-change="ctrl.switchFloors()" ng-if="ctrl.floor != null" aria-label="picfloor">
          <md-option ng-value="floor" ng-repeat="floor in ctrl.floors">Floor {{floor}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div>
      <ul class="list-group" style="list-style: none;">
        <li class="list-group" ng-repeat="picture in ctrl.pictures">
          <picture-editor picture="picture" locations="ctrl.locations"></picture-editor>
        </li>
      </ul>
    </div>
    <div class="fab">
      <md-button class="md-fab md-primary md-fab-bottom-right" aria-label="addPicture" ng-click="ctrl.goToUpload()">
        <md-tooltip md-direction="top">Add New Image</md-tooltip>
        <md-icon md-svg-src="../../../../images/add-white.svg"></md-icon>
      </md-button>
    </div>
  </div>
</div>